@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');

html, body {
    font-family: 'Segoe UI';

    background-color: rgb(17, 17, 17);
    color: white;
}

* {
    box-sizing: border-box;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: black;
    width: 100%;
    padding: 10px;
}

table {
    border-radius: 5px;
    border-collapse: separate !important;
    text-align: center;
    background-color: #1d1d1d;
}

th {
    background-color: #303030;
}

table, td, th { 
    border: 1px solid white;
}

thead td, th{ 
    border-top: 0px;
}

tbody td, th{ 
    border-bottom: 0px;
}

td:nth-child(1), th:nth-child(1) { 
    border-left: 0px;
}

td:nth-last-child(1), th:nth-last-child(1) { 
    border-right: 0px;
}

td, th {
    padding: 6px 20px;
}