@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');

html,
body {
    font-family: 'Segoe UI';

    background-color: #0f131a;
    color: white;

    margin: 10px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.chart {
    height: 50%;
    display: flex;
    align-items: left;

    flex-direction: column;
}

.title {
    width: 100%;
    padding: 10px;
}

table {
    margin-top: 35px;
    border-radius: 5px;
    height: 10%;
    border-collapse: separate !important;
    text-align: center;
    background-color: var(--primary);
    text-transform: uppercase;
}

th {
    background-color: var(--secondary);
}

table,
td,
th {
    border: 1px solid var(--primary);
}

thead td,
th {
    border-top: 0px;
}

tbody td,
th {
    border-bottom: 0px;
    font-weight: 550;
}

td:nth-child(1),
th:nth-child(1) {
    border-left: 0px;
}

td:nth-last-child(1),
th:nth-last-child(1) {
    border-right: 0px;
}

td,
th {
    padding: 6px 20px;
}

.header {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 2em;
    margin: 0px;
}

.controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 25px;
}

.graph-info {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


.right-UI {
    display: flex;
    justify-content: start;

    align-items: center;
    flex-direction: column;
    background-color: var(--primary);

    border-radius: 25px;

    padding: 20px;

    height:94vh;
    margin-right: 3%;
    

    
    min-width: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 90vh;
}

.center-UI {
    display: flex;
    width: 50%;
    flex-basis: 50%;
    
    flex-direction: column;
    margin-top: 5%;
}


.left-UI {
    display: flex;
    
    background-color: var(--primary);

    border-radius: 25px;

    
    min-width: 20%;
    height: 90vh;
    
    margin-left: 1%;
    
}




.bar-chart {
    display: flex;
    border-radius: 25px;
    margin-top: -25%;
    align-items: center;
    background-color: #0f131a;
    padding: 1dvh;
    height: 22% ;

}

.PieChart {

    display: flex;
    border-radius: 25px;
    margin-top: 0%;
    flex-direction:row;
    background-color: #0f131a;
    
    
    


}

.myportfolio {


    margin-top: 35px;
}

.CoinButtons button {
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    color: white;
    text-align: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 500ms;
    font-size: medium;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow if text is too long */
    text-overflow: ellipsis; /* Display ellipsis (...) if text is truncated */
}

.CoinButtons button:hover {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: rgba(255, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    font-size: large;
    color: #32354e;
    text-align: center;
    transition: 200ms;
    color: var(--secondary);
}
    
.leftNav {
    display: flex;
    
    background-color: #171923;
    width: 30%;
    border-top-left-radius:  25px;
    border-bottom-left-radius:  25px;
}


.myinvestments{

    display: flex;
    border-radius: 25px;
    margin-top: 10%;
    margin-bottom: 5%;
    align-items: center;
    
    flex-direction:column;
    background-color: #0f131a;
    padding: 3dvh;
    
}

.coinleftnav {
    display: flex;
    margin-left: 7%;
    align-items: center;
    height: 70vh;
    background-color: #0f131a;
    border-radius: 25px;
    margin-top: 40%;
    width: 22vh;
    
    justify-content: center;
    
    
    
    
}
.invest-sell {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 25px;
   margin-left: 445px;


}