* {
    --selected-color: #ffffff;
    /* for dark mode*/
    --primary: #20222e;
    --secondary: #323546;
    --font-color: #ffffff;
    --bg-color: #20222e;
}

.radio-group__button-group {
    display: flex;
    align-items: center;
}

button {
    padding: 0.2rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 850;
    background-color: var(--secondary);
    border: 3.0px solid var(--secondary);
    color: #c9c6c6;
    text-transform: uppercase;
}

button:nth-child(1) {
    border-radius: 7px 0px 0px 7px;
}

button:nth-last-child(1) {
    border-radius: 0px 7px 7px 0px;
}

button[aria-checked="true"] {
    background-color: #20222e;
    color: var(--selected-color);
}

button:hover {
    background-color: #20222e;
    cursor: pointer;
}