* {
    --selected-color: #2bbd23;
}

.radio-group__button-group {
    display: flex;
}

button {
    padding: 0.2rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: #353636;
    border: 0.5px solid gray;
    color: white;
}

button:nth-child(1) {
    border-radius: 7px 0px 0px 7px;
}

button:nth-last-child(1) {
    border-radius: 0px 7px 7px 0px;
}

button[aria-checked="true"] {
    background-color: rgb(68, 68, 68);
    color: var(--selected-color);
}

button:hover {
    background-color: rgb(50, 50, 50);
}